boards/*/db/*
boards/*/incremental_db/*
boards/*/output/*
boards/*/output_files/*
boards/*/simulation/*
boards/*/*.rpt
boards/*/simulation/modelsim/msim_transcript
boards/*/greybox_tmp/*
asm/*/*.bin
asm/*/*.hlr
asm/*/*.ihx
asm/*/*.lst
asm/*/*.map
asm/*/*.rel
asm/*/*.vhx
perl/test.v
perl/test.vh
*.sublime-project
*.sublime-workspace
*.bak
*.out.sdc