boards/*/db/*
boards/*/incremental_db/*
boards/*/output/*
boards/*/output_files/*
boards/*/simulation/*
boards/*/*.rpt
boards/*/simulation/modelsim/msim_transcript
asm/test.bin
asm/test.hlr
asm/test.ihx
asm/test.lst
asm/test.map
asm/test.rel
asm/test.vhx
perl/test.v
perl/test.vh
*.sublime-project
*.sublime-workspace
*.bak
